body{
    background-color: rgb(222, 68, 29);
    overflow-x: hidden;

  
}
h1{
    text-align: center;
}
#allSlider{
    display: flex;
    flex-direction: row;
    width: 220vw;
    justify-content: space-between;
    position: relative;
    right: 60vw;
}
.sliders{
    position: relative;
    width: 20vw;
    height: 30vh;
    animation-timing-function: linear;
    opacity: 1;
    animation-iteration-count: infinite;
}
.pics{
    width: 100%;
    height: 100%;
}
@keyframes middle {
    0%  {right: 0vw; opacity: 1;}
    11.1%  {right: 25vw; opacity: 1;}
    22.2%  {right: 50vw; opacity: 1;}
    33.3%  {right: 75vw; opacity: 1; }
    33.4%  { opacity: 0; }
    44.4%  {right: -125vw; opacity: 0;}
    55.5%  {right: -100vw; opacity: 1;}
    66.6  {right: -75vw; opacity: 1;}
    77.7%  {right: -50vw; opacity: 1;}
    88.8%  {right: -25vw; opacity: 1;}
    100%  {right: 0vw; opacity: 1;}


    
}
@keyframes left {
    0%  {right: 0vw; opacity: 0;}
    11.1%  {right: 0vw; opacity: 0;}
    22.2%  {right: 0vw; opacity: 0;}
    33.3%  {right: -150vw; opacity: 0;}
    44.4%  {right: -125vw; opacity: 1;}
    55.5%  {right: -100vw; opacity: 1;}
    66.6%  {right: -75vw; opacity: 1;}
    77.7%  {right: -50vw; opacity: 1;}
    88.8%  {right: -25vw; opacity: 1;}
    100%  {right: 0vw; opacity: 1;}

    
}
@keyframes right {
    0%  {right: 0vw; opacity: 0;}
    2%  { opacity: 1;}
    11.1%  {right: 25vw; opacity: 1;}
    22.2%  {right: 50vw; opacity: 1;}
    33.3%  {right: 75vw; opacity: 1;}
    44.4%  {right: 100vw; opacity: 1;}
    55.5%  {right: 125vw; opacity: 1;}
    66.6%  {right: 150vw; opacity: 0;}
    77.7%  {right: 175vw; opacity: 0;}
    88.8%  {right: 175vw; opacity: 0;}
    88.9%  { opacity: 0;}
    99%  { opacity: 0;}
    100%  {right: 0vw; opacity: 0;}

    
}

#slider1{
    animation-name: left;
    
}
#slider2{
    animation-name: left;

}
#slider3{
    animation-name: left;

}
#slider4{
    animation-name: middle;
}
#slider5{
    animation-name: middle;

}
#slider6{
    animation-name: middle;


}
#slider7{
    animation-name: right;

}
#slider8{
    animation-name: right;
}
#slider9{
    animation-name: right;

}



.arrow{
    width: 8vw;
    height: 8vh;
    position: absolute;
    top: 20vh;
    z-index: 20;

}

#arrowLeft{
    transform: rotate(180deg);
    left: 63vw;

}
#arrowRight{
    right: 63vw;
}
#arrowRight:hover ~ .sliders{
    animation-duration: 15s;  
    animation-direction: reverse;

}
#arrowLeft:hover ~ .sliders{
    animation-duration: 15s;
}


#hiddenSection{
    width: 100vw;
    height: 33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    right: 2vw;
    bottom: 32vh;
}
#hiddenDiv1{
   width: 17vw;
   height: 100%;
   background-color:  rgb(222, 68, 29);

}

#hiddenDiv2{
    width: 15vw;
    position: relative;
    left: 2vw;
    height: 100%;
    background-color:  rgb(222, 68, 29);
}





























































/* #allSlider{
    position: relative;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-attachment: fixed; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sliders{
    margin: 0.5%;

   

}
.pics{
    width: 100%;
    height: 100%;
}



#middlethree{

    top: 50px;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: mid dle;
    
}
#slider1{
    opacity: 1;
}
#slider2{
    opacity: 1;

}
#slider3{
    opacity: 1;

}
#slider4{
    opacity: 1;
}
#slider5{
    opacity: 1;

}
#slider6{

    opacity: 1;

}
#slider7{
    opacity: 1;

}
#slider8{
    opacity: 1;
    position: relative;
    right: 

}
#slider9{
    opacity: 1;

}
#slider4{

    
}

#rightthree{
    position: relative;
    right: 0vw;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: ri ght;
    display: none;
    
} 
#leftthree{
    position: relative;
    right: 0vw;
    bottom: 40px;
    animation-duration: 19.28s;
    animation-iteration-count: infinite;
    animation-name: lef t;
    
}
@keyframes middle {
    0%  {right: 0vw;}
    15%  {right: 10vw;}
    30%  {right: 20vw;}
    45%  {right: 30vw; }
    60%  {right: -30vw;}
    75%  {right: -20vw;}
    85%  {right: -10vw;}
    100%  {right: 0vw;}

    
}
@keyframes right {
    0%  {right: -40.4vw;}
    15%  {right: -8.9vw;}
    30%  {right: 22.6vw;}
    45%  {right: 54.1vw; }
    60%  {right: 85.6vw;}
    75%  {right: 116.8vw;}
    85%  {right: -71.9vw;}
    100%  {right: -40.4vw;}

    
}
@keyframes left {
    0%  {right: 0vw;}
    11.1%  {right: 0vw;}
    22.2%  {right: 0vw;}
    33.3%  {right: -60vw; }
    44.4%  {right: -50vw;}
    55.5%  {right: -40vw;}
    66.6%  {right: -30vw;}
    77.7%  {right: -20vw;}
    88.8%  {right: -10vw;}
    100%  {right: 0vw;}


    
}


#frames{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0vh;
    position: absolute; 
    top: 20vh;

}
.frame{
    width: 25vw;
    height: 30vh;
    border: 1px solid;

    margin-left: 2vw ;
}
@keyframes sliderTwo1 {
    0%  {background-image: url(pictures/firsrpicture.jpg);}
    33.2%  {background-image: url(pictures/firsrpicture.jpg);}
    33.3%  {background-image: url(pictures/fourthpicture.jpg);}
    66.2%  {background-image: url(pictures/fourthpicture.jpg);}
    66.6%  {background-image: url(pictures/seventhpicture.jpg);}
    99.9%  {background-image: url(pictures/seventhpicture.jpg);}
    100%  {background-image: url(pictures/firsrpicture.jpg);}    
}
@keyframes sliderTwo2 {
    0%  {background-image: url(pictures/secoundficture.jpg);}
    33.2%  {background-image: url(pictures/secoundficture.jpg);}
    33.3%  {background-image: url(pictures/fifthpicture.jpg);}
    66.2%  {background-image: url(pictures/fifthpicture.jpg);}
    66.6%  {background-image: url(pictures/eighthpicture.webp);}
    99.9%  {background-image: url(pictures/eighthpicture.webp);}
    100%  {background-image: url(pictures/secoundficture.jpg);}



    
}
@keyframes sliderTwo3 {
    0%  {background-image: url(pictures/thirdpicture.webp);}
    33.2%  {background-image: url(pictures/thirdpicture.webp);}
    33.3%  {background-image: url(pictures/sixthpicture.webp);}
    66.2%  {background-image: url(pictures/sixthpicture.webp);}
    66.6%  {background-image: url(pictures/ninthpicture.jpg);}
    99.9%  {background-image: url(pictures/ninthpicture.jpg);}
    100%  {background-image: url(pictures/thirdpicture.webp);}



    
}
#picAndArrow{
    display: flex;
    flex-direction: row;
}
.arrow{
    width: 8vw;
    height: 8vh;
    margin-top: 50vh;
}

#arrowLeft{
    transform: rotate(180deg);
    position: absolute;
    right: 85vw;
}
#arrowRight{
    margin-right: 10vw ;
    position: absolute;
    left: 85vw;
}
#arrowRight:hover + #slider1{
    animation-direction: alternate;  
    animation-name: sliderTwo1 ;  
}
#arrowLeft:hover ~ #slider1{
    animation-direction: alternate-reverse;
    animation-name: sliderTwo1 ;
}
#arrowRight:hover ~ #slider2{
    animation-direction: alternate;  
    animation-name: sliderTwo2;
}
#arrowLeft:hover ~ #slider2{
    animation-direction: alternate-reverse;
    animation-name: sliderTwo2;  
}
#arrowRight:hover ~ #slider3{
    animation-direction: alternate;  
    animation-name: sliderTwo3;
}
#arrowLeft:hover ~ #slider3{
    animation-direction: alternate-reverse;
    animation-name: sliderTwo3;
} */